<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bs441/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{initialStyle.css}"/>
    <title>LFLT | Feedback</title>
</head>

<body>
<div class="container-fluid min-vh-100 p-0">
    <div th:insert="fragments :: menu"></div>
    <main class="container-fluid w-auto m-2 p-2 bg-light">
        <h1 class="text-center">Feedback</h1>
        <p class="text-center font-italic mb-4">Feel free to share your thoughts</p>

        <div class="row">
            <div class="col"></div>

            <div class="col-12 col-md-10 col-lg-8">
                <form method="POST" th:object="${feedbackPojo}" th:action="@{/feedback}" id="feedbackForm">
<!-- radio buttons -->
                    <fieldset class="form-group">
                        <div class="rowCustom">
                            <div class="col-sm-4">
                                <legend class="col-form-label pt-0">Feedback type</legend>
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Input Error</span>
                            </div>
                            <div class="col-sm-8">
                                <div th:each="tt : ${feedbackTypes}" class="form-check">
                                    <input type="radio" th:value="${tt}" th:field="*{type}"
                                           class="form-check-input"/>
                                    <label class="form-check-label" th:text="${tt}">PLACEHOLDER</label>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group rowCustom">
                        <div class="col-sm-4">
                            <label for="msg" class="col-form-label">Message</label>
                            <span class="validationError text-danger"
                                  th:if="${#fields.hasErrors('msg')}" th:errors="*{msg}">Input Error</span>
                        </div>
                        <div class="col-sm-8">
                    <textarea class="form-control" rows="4" placeholder="Type your message here"
                              th:field="*{msg}"></textarea>
                        </div>
                    </div>

                    <div class="form-group rowCustom">
                        <div class="col-sm-4">
                            <label for="device" class="col-form-label">Device</label>
                            <span class="validationError text-danger" th:if="${#fields.hasErrors('device')}"
                                  th:errors="*{device}">Input Error</span>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Device" th:field="*{device}"/>
                        </div>
                    </div>

                    <div class="form-group rowCustom">
                        <div class="col-sm-4">
                            <label for="browser" class="col-form-label">Browser</label>
                            <span class="validationError text-danger" th:if="${#fields.hasErrors('browser')}"
                                  th:errors="*{browser}">Input Error</span>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Browser"
                                   th:field="*{browser}"/>
                        </div>
                    </div>

                    <div class="form-group rowCustom">
                        <div class="col-sm-4">
                            <label for="name" class="col-form-label">Name</label>
                            <span class="validationError text-danger" th:if="${#fields.hasErrors('name')}"
                                  th:errors="*{name}">Input Error</span>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Name" th:field="*{name}"/>
                        </div>
                    </div>

                    <div class="form-group rowCustom">
                        <div class="col-sm-4">
                            <label for="email" class="col-form-label">Email</label>
                            <span class="text-danger" th:if="${#fields.hasErrors('email')}"
                                  th:errors="*{email}">Input Error</span>
                        </div>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" placeholder="Email" th:field="*{email}"/>
                        </div>
                    </div>

                    <div class="rowCustom">
                        <!--                        <div class="col-sm" th:switch="${feedbackJam}">-->
                        <!--                            <button th:case="true" class="btn btn-secondary marginTop40" disabled>Submit your-->
                        <!--                                feedback-->
                        <!--                            </button>-->
                        <!--                            <button th:case="*" class="btn btn-secondary marginTop40">Submit your feedback-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <div class="col text-center">
                            <button th:unless="${feedbackJam}" class="btn btn-secondary mt-4">Submit your
                                feedback
                            </button>
                            <span class="text-danger" th:if="${feedbackJam}">Server error</span>
                        </div>
                        <!--                        <div class="col-sm-4">-->
                        <!--                            <span class="text-danger" th:if="${feedbackJam}">Server error</span>-->
                        <!--                        </div>-->
                    </div>
                </form>
            </div>

            <div class="col"></div>
        </div>
    </main>
    <div th:insert="fragments :: footer"></div>
</div>

<!--bootstrap js-->
<script type="text/javascript" th:src="@{/bs441/js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{/bs441/js/bootstrap.bundle.js}"></script>
</body>
</html>