<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bs441/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{initialStyle.css}"/>
    <title>Feedback</title>
</head>

<body>
<div class="pageContent">
    <div th:insert="fragments :: menu"></div>

    <main class="blockWrapper">
        <h1 class="text-center">Feedback</h1>
        <p id="underTitle">Feel free to share your thoughts on LFLT</p>

        <!--        <div class="block">-->
        <form method="POST" th:object="${feedbackPojo}">

            <fieldset class="form-group">
                <div class="rowCustom">
                    <legend class="col-form-label col-sm-2 pt-0">Feedback type</legend>
                    <div class="col-sm-6">
                        <div th:each="tt : ${feedbackTypes}" class="form-check">
                            <input type="radio" th:value="${tt}" th:field="*{type}" class="form-check-input"/>
                            <label class="form-check-label" th:text="${tt}">PLACEHOLDER</label>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <span class="validationError text-danger"
                              th:if="${#fields.hasErrors('type')}"
                              th:errors="*{type}">Input Error</span>
                    </div>
                </div>
            </fieldset>

            <div class="form-group rowCustom">
                <label for="msg" class="col-sm-2 col-form-label">Message</label>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="4" placeholder="Type your message here"
                              th:field="*{msg}"></textarea>
                    <!--                    <input type="text" th:field="*{msg}" class="form-control" placeholder="Type your feedback">-->
                </div>
                <div class="col-sm-4">
                <span class="validationError text-danger"
                      th:if="${#fields.hasErrors('msg')}" th:errors="*{msg}">Input Error</span>
                </div>
            </div>

            <div class="form-group rowCustom">
                <label for="device" class="col-sm-2 col-form-label">Device</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Device" th:field="*{device}"/>
                </div>
                <div class="col-sm-4">
                <span class="validationError text-danger" th:if="${#fields.hasErrors('device')}"
                      th:errors="*{device}">Input Error</span>
                </div>
            </div>

            <div class="form-group rowCustom">
                <label for="os" class="col-sm-2 col-form-label">Operating system</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Operating system" th:field="*{os}"/>
                </div>
                <div class="col-sm-4">
                <span class="validationError text-danger" th:if="${#fields.hasErrors('os')}"
                      th:errors="*{os}">Input Error</span>
                </div>
            </div>

            <div class="form-group rowCustom">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Name" th:field="*{name}"/>
                </div>
                <div class="col-sm-4">
                <span class="validationError text-danger" th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}">Input Error</span>
                </div>
            </div>

            <div class="form-group rowCustom">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}"/>
                </div>
                <div class="col-sm-4">
                <span class="validationError text-danger" th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}">Input Error</span>
                </div>
            </div>

            <div class="container">
                <div class="rowCustom justify-content-end">
                    <div class="col-sm-8" th:switch="${feedbackJam}">
                        <button th:case="true" class="btn btn-secondary marginTop40" disabled>Submit your feedback
                        </button>
                        <button th:case="*" class="btn btn-secondary marginTop40">Submit your feedback</button>
                    </div>
                    <div class="col-sm-4">
                        <span class="text-danger" th:if="${feedbackJam}">Server error</span>
                    </div>
                </div>
            </div>
        </form>
        <!--        </div>-->
    </main>
    <div th:insert="fragments :: footer"></div>
</div>

<!--bootstrap js-->
<script type="text/javascript" th:src="@{/bs441/js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{/bs441/js/bootstrap.bundle.js}"></script>
</body>
</html>