<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bs441/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{initialStyle.css}"/>
    <title>Menu Fragment</title>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-custom" th:fragment="menu">
    <a id="brand" href="/">LFLT</a>
    <!--        <a class="navbar-brand" href="/">LFLT</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav ml-auto">
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? ' active' : ''}" class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'dashboard') ? ' active' : ''}"
                class="nav-item">
                <a class="nav-link" href="/dashboard">Experiment</a>
            </li>

            <li th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'stock') ? ' active' : ''}"
                class="nav-item">
                <a class="nav-link" href="/stock">Stock</a>
            </li>

            <li th:classappend="${#httpServletRequest.getRequestURI() == '/mine' ? ' active' : ''}"
                class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/mine">Mine</a>
            </li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/feedback' ? ' active' : ''}"
                class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/feedback">Feedback</a>
            </li>

            <!-- TODO: separator -->
            <li class="nav-item">
                <a class="nav-link">
                    <span>~</span>
                </a>
            </li>

            <!-- section for anonymous users -->

<!--            <li class="nav-item" sec:authorize="isAnonymous()">-->
<!--                <a class="nav-link" href="/game"><span class="glyphicon glyphicon-log-in"></span> Login</a>-->
<!--            </li>-->

            <li class="nav-item" sec:authorize="isAnonymous()">
                <form class="form-inline" method="POST" th:action="@{/login}" id="loginForm">
                    <input class="form-control mr-sm-2 ml-3" type="text" placeholder="Username" aria-label="Username" name="username" id="username">
                    <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name="password" id="password">
                    <button class="btn btn-outline-custom my-2 my-sm-0" type="submit">Login</button>
                </form>
            </li>

            <!-- section for authenticated users -->

<!--            <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--                <span class="alert-primary"> USERX </span>-->
<!--            </li>-->
<!--             user name -->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link">
<!--                    <span class="glyphicon glyphicon-user"></span>-->
<!--                    <img src="open-iconic-master/svg/person.svg" alt="person">-->
                    <span sec:authentication="name"></span>
                </a>
            </li>
<!--             logout -->
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form method="POST" th:action="@{/logout}">
                    <button class="btn btn-outline-custom my-2 my-sm-0" type="submit">Logout</button>
<!--                    <input type="submit" value="Logout"/>-->
                </form>
            </li>
        </ul>
    </div>
    <!--    <hr class="footerLine">-->
</nav>

<div th:fragment="footer">
    <hr style="margin: 0;">
    <footer class="footer-custom">
        <p style="margin: 0;">
            Copyright &copy; LFLT 2020. All rights reserved.
            <br>
            Version: 0.6.2
        </p>
    </footer>
</div>

<!-- import bootstrap with dependencies 3.4.1 -->
<div th:fragment="bootstrap">
    <script th:src="@{/static/bs441/js/jquery-3.4.1.js}"></script>
    <script th:src="@{/static/bs441/js/bootstrapBundle.js}"></script>
</div>
</body>
</html>

