<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bs441/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{initialStyle.css}"/>
    <title>LFLT | Home</title>
</head>

<body>
<div class="container-fluid min-vh-100 p-0">
    <div th:insert="fragments :: menu"></div>

    <div class="heroImageWrapper">
        <div class="heroImageMargin"></div>
        <div class="heroImage"></div>
        <div class="heroImageMargin"></div>
    </div>

    <main class="container-fluid w-auto m-2 p-2 bg-light">
        <h1 id="headerUnderHero">Stock-Picking Experiment</h1>
        <p id="underTitle" class="marginBottom80">Inspired by Daniel Kahneman's "Thinking, Fast and Slow"</p>

        <div class="row">
            <div class="col"></div>

            <div class="col-12 col-md-10 col-lg-8 text-justify">
                <h4>The Illusion of Validity</h4>
                <p>
                    In chapter 20, "The Illusion of Validity", Kahneman argues that there is no such thing as
                    a stock-picking skill, but only an illusion of it. He illustrates that even the professional
                    stock
                    pickers (on average) fail the basic test of skill - permanent achievement. I.e. the traders are
                    playing the game of chance, because there is no correlation between their picks and their
                    profits.
                </p>

                <h4>What is it about?</h4>
                <p>
                    So, if even the professional portfolio managers are rolling the dice, why not try it as well? Let's
                    take the available stocks, randomly buy some of them and monitor the performance. That's exactly
                    what this project, "Low Frequency Luck Trading", is doing. I.e. LFLT performs blind guesses about
                    what stock to buy and then monitors the portfolio performance over time.
                </p>
            </div>

            <div class="col"></div>
        </div>
    </main>
    <div th:insert="fragments :: footer"></div>
</div>

<!--bootstrap js-->
<script type="text/javascript" th:src="@{/bs441/js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{/bs441/js/bootstrap.bundle.js}"></script>
</body>
</html>
