<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bs441/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{initialStyle.css}"/>
    <title>LFLT | Home</title>
</head>

<body>
<div class="container-fluid min-vh-100 p-0">
    <div th:insert="fragments :: menu"></div>

    <div class="heroImageWrapper">
        <div class="heroImageMargin"></div>
        <div class="heroImage"></div>
        <div class="heroImageMargin"></div>
    </div>

    <main class="container-fluid w-auto m-2 p-2 bg-light">
        <h1 id="headerUnderHero">Low-Frequency Luck Trading</h1>
        <p class="mb-rem4 text-center font-italic">Inspired by Daniel Kahneman's "Thinking, Fast and Slow"</p>

        <div class="row">
            <div class="col"></div>

            <div class="col-12 col-md-9 col-lg-6 text-justify">
                <h4 class="h4-custom">The Illusion of Validity</h4>
                <p>
                    In chapter 20, "The Illusion of Validity", Kahneman argues that so called stock-picking skill is somewhat an illusion. He illustrates that even the professional stock traders (on average) fail the basic test of skill - permanent achievement. In other words - the traders play the game of chance since there is no correlation between their picks and their profits.
                </p>

                <h4 class="h4-custom">What is it about?</h4>
                <p>
                    Now, what we are doing here is testing the premise made earlier. Under the experiment, we randomly buy some of the S&P 500 stocks to see how they will perform over time. If you register, there is an option to create your own portfolio and manage it with nominal dollars to try and beat the market. Furthermore, you can compete against the random buy.
                </p>
            </div>

            <div class="col"></div>
        </div>
    </main>
    <div th:insert="fragments :: footer"></div>
</div>

<!--bootstrap js-->
<script type="text/javascript" th:src="@{/bs441/js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{/bs441/js/bootstrap.bundle.js}"></script>
</body>
</html>
