<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bs441/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{initialStyle.css}"/>
    <title>LFLT | Home</title>
</head>

<body>
<div class="container-fluid min-vh-100 p-0">
    <div th:insert="fragments :: menu"></div>

    <div class="heroImageWrapper">
        <div class="heroImageMargin"></div>
        <div class="heroImage"></div>
        <div class="heroImageMargin"></div>
    </div>

    <main class="container-fluid w-auto m-2 p-2 bg-light">
        <h1 id="headerUnderHero">Low-Frequency Luck Trading</h1>
        <p class="mb-rem4 text-center font-italic">Inspired by Daniel Kahneman's "Thinking, Fast and Slow"</p>

        <div class="row">
            <div class="col"></div>

            <div class="col-12 col-md-9 col-lg-6 text-justify">
                <div th:each="post : ${posts}">
                    <h4 class="h4-custom" th:text="${post.getHeader()}"/>
                    <p th:utext="${post.getBody()}"/>
                </div>
            </div>

            <div class="col"></div>
        </div>
    </main>
    <div th:insert="fragments :: footer"></div>
</div>

<!--bootstrap js-->
<div th:insert="fragments :: bootstrap"/>
</body>
</html>
