<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bs441/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/initialStyle.css}"/>
    <title>LFLT | Mine</title>
</head>

<body>
<div class="container-fluid min-vh-100 p-0">
    <div th:insert="fragments :: menu"></div>

    <main class="container-fluid w-auto m-2 p-2 bg-light">
        <h1 class="text-center">Mine</h1>
        <p class="text-center font-italic mb-4">my portfolios & games</p>

        <div class="row mb-4">
            <div class="col"></div>

            <div class="col-12 col-md-10 col-lg-8">
                <div th:insert="portfolioOverview :: portfolio_overview"></div>
                <div class="col text-center">
<!--                    <a th:unless="${limitReached}" class="btn btn-secondary mt-4"-->
<!--                       href="/mine/new_portfolio" role="button">Create New Portfolio</a>-->
<!--                    <span class="text-danger" th:if="${limitReached}">Portfolio Limit Reached</span>-->

                    <form th:unless="${limit}" class="form-inline justify-content-center" method="POST"
                          th:action="@{/mine/new_preconfigured_portfolio_submit}">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Create New Portfolio</button>
                    </form>
                </div>

                <!-- separator between portfolios & games -->
                <hr>

                <!-- cards with summary, more details inside -->

<!--                <div class="col text-center">-->
<!--                    <a th:unless="${limit}" class="btn btn-secondary mt-4"-->
<!--                       href="/mine/new_game" role="button">Start New Game</a>-->
<!--                    <span class="text-danger" th:if="${limit}">Game Limit Reached</span>-->
<!--                </div>-->
            </div>
            <div class="col"></div>
        </div>
    </main>

    <div th:insert="fragments :: footer"></div>
</div>

<!--bootstrap js-->
<script th:src="@{/bs441/js/jquery-3.4.1.js}"></script>
<script th:src="@{/bs441/js/bootstrap.bundle.js}"></script>
</body>
</html>