<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/bs441/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{initialStyle.css}"/>
    <title>Stocks</title>
</head>

<body>
<div class="pageContent">
    <div th:insert="fragments :: menu"></div>

    <div class="contentWrap">
        <!--        <img src="cube-2031511_1920x655.jpg" alt="Game of Luck" class="responsive">-->
        <main class="blockWrapper">
            <h1>
                S&P 500
            </h1>

            <table>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Market</th>
                    <th>Land</th>
                    <th>Sector</th>
                    <th>Industry</th>
                </tr>
                <tr th:each="ss : ${stocks}">
                    <td th:text="${ss.symbol}"/>
                    <td th:text="${ss.name}"/>
                    <td th:text="${ss.market}"/>
                    <td th:text="${ss.land}"/>
                    <td th:text="${ss.sector}"/>
                    <td th:text="${ss.industry}"/>
                </tr>

                <!--                        <div th:each="ingredient : ${wrap}">-->
                <!--                            <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />-->
                <!--                            <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
                <!--                        </div>-->

                <!--                        <tr th:each="smokeTest : ${smokeTests}">-->
                <!--                            <td th:text="${smokeTest.name}">A Smoke Test'</td>-->
                <!--                        </tr>-->


            </table>
        </main>
    </div>

    <div th:insert="fragments :: footer"></div>
</div>
<!--bootstrap js-->
<script type="text/javascript" th:src="@{/bs441/js/jquery-3.4.1.js}"></script>
<script type="text/javascript" th:src="@{/bs441/js/bootstrap.bundle.js}"></script>
</body>
</html>
